  .example-spacer {
    flex: 1 1 auto;
  }
  
  .example-card{
      margin-top: 4px;
      background-color: rgb(255, 239, 255);
  }
  
  .example-header-image { 
    background-size: cover;
  }
  
  .title{
      font-weight: bold;
      font-size: 30px;
      text-decoration: none;
      color: rgb(120, 37, 197);
  }
  
  .action-buttons{
      text-align: center;
  }
  
  .example-container {
      width: 100%;
      height: auto;
      border: 3px solid rgba(111, 111, 111, 0.50);
      background-color: darkslateblue;
  }
  
  .example-sidenav-content {
      display: flex;
      height: 75%;
      align-items: center;
      justify-content: center;
  }
  
  .example-sidenav {
      padding: 20px;
  }
  
  .source-name {
      margin-left:5px; 
  }
  
  .list-item:hover{
      cursor: pointer;
      background-color: rgb(241, 241, 241);
  }
  
  .img-article {
      height: auto;
      max-width: auto;
  }

  .card-content {
      padding-top: 25px;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color: rgba(179, 0, 255, 0.541); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
 }

 #myBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 } 